.container {
    background-color: #ccffcc;
}

.nav-item {
    padding-left: 25px;
    padding-right: 10px;
}

.login-btn {
    padding-right: 5px;
}

.logout-btn {
    padding-right: 10px;
}

#login-text {
    color: #ff4d4d;
}

#spring-logo {
    max-height: 10%;
    max-width: 10%;
}

#thymeleaf-logo {
    max-height: 10%;
    max-width: 10%;
}