<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title>My Index HTML</title>
</head>
<body>
<div class="container">
    <div>
    <h1>This is the index.html file</h1><br>
    <a href="/home">Click here to list all objects from the database in a view.</a>
    <br><br>
    <a href="/api">Click this to list the raw JSON file data from the REST service.</a>
    <br><br>
    <a href="/login">Click here to login/authenticate yourself.</a> (you cannot use the service if you dont)
    <br><br>
    <a href="/register">Click here to register a new account.</a><br><br>
    </div>

    <div>
        <h3>You can also use a tool like "Postman" to make CRUD calls to my REST API. (address: /api )</h3>
    </div>
</div>

</body>
</html>