<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="header.html :: headerfiles">
    <title>Registration Page</title>
</head>

<body>
<header th:insert="header.html :: nav"></header>

<div class="container">
    <h1>Please provide the necessary credentials for the authentication service.</h1>
    <form th:object="${user}" th:action="@{/register}" method="post">
        <div class="form-col">
            <div class="form-group col-md-6">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Username" th:field="*{username}">
                <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                   class="alert alert-danger"></p>
            </div>

            <div class="form-group col-md-6">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Password" th:field="*{password}">
                <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                   class="alert alert-danger"></p>
                <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <input type="checkbox" class="form-check-input" id="showPWD" onclick="showPassword()">
                <label class="form-check-label" for="showPWD">show password</label>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
    <script>
    function showPassword() {
        var box = document.getElementById("password");
        if (box.type === "password") {
            box.type = "text";
        } else {
            box.type = "password";
        }
    }
    </script>
</div>
</body>
</html>