<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:insert="header.html :: headerfiles">
    <title>Create a new Todo</title>
</head>

<body>
<header th:insert="header.html :: nav"></header>

<div class="container">
    <h1>Create or Overwrite a new Todo:</h1><br>
    <form th:object="${todo}" th:action="@{/home}" method="post"> <!-- if you dont specify object=todo you have to type todo.id, etc.-->
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" placeholder="4" value="1" th:field="*{id}">
            <p th:if="${#fields.hasErrors('id')}" th:errors="*{id}"
               class="alert alert-danger"></p>
        </div><br>

        <div class="form-group">
            <label for="todo">Message</label>
            <input type="text" class="form-control" id="todo" placeholder="buy snacks" th:field="*{message}">
            <p th:if="${#fields.hasErrors('message')}" th:errors="*{message}"
               class="alert alert-danger"></p>
        </div><br>

        <div class="form-group">
            <label for="name">Posted by</label>
            <input type="text" class="form-control" id="name" placeholder="Johny" th:field="*{username}">
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
               class="alert alert-danger"></p>
        </div><br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>